
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    height: 400px;
    width: 300px;
    background-color: #4f70b3;
    display: flex;
    flex-direction: column;
    border: red 2px solid;
    padding: 10px;
    
}

.row {
    border: blue 2px solid;
    display: flex;
    justify-content: space-evenly;
    gap:5px;
    height: 50px;
    padding: 2px;
}

.display {
    border: yellow 2px solid;
    background-color: black;
    flex-basis: 50px;
    margin-bottom: 20px;
    color: white;
    
}

.keypad {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row .num, .row .operator  {
    flex-grow: 1;
}

.num {
    background-color: orange;
}

.operator {
    background-color: #32a1b5;
}



